<h2>Cambiar contraseña</h2>
<form (ngSubmit)="cambiarPassword()">
  <input
    type="password"
    [(ngModel)]="actualPassword"
    name="actualPassword"
    placeholder="Contraseña actual"
    required
  />
  <input
    type="password"
    [(ngModel)]="nuevaPassword"
    name="nuevaPassword"
    placeholder="Nueva contraseña"
    required
  />
  <button type="submit">Actualizar contraseña</button>
</form>
<div *ngIf="mensaje" style="color:green">{{ mensaje }}</div>
<div *ngIf="error" style="color:red">{{ error }}</div>
